
.card-img { 
    width: 244px; 
    height: 214px; 
} 
 
.card { 
    margin: 15px; 
    background-color: E1D7C6; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

main { 
    padding: 5%; 
} 
 
.container { 
    display: flex;  
    height: 550px; 
    align-items: center; 
    margin-bottom: 120px; 
    border-radius: 32px; 
    background: #DCE5E2 top center / 100% repeat url(../img/image15.png); 
} 
 
.carousel-item{ 
    display: flex; 
    padding: 90px 54px; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 44px; 
    flex-grow: 1; 
    align-self: stretch; 
} 
 
.button { 
    width: 234px; 
    height: 54px; 
    padding: 14px 70px; 
    border-radius: 200px; 
    border: 1px solid #000; 
    background: #E3E1D9; 
    color: #000; 
    font-family: Inter; 
    font-size: 20px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 21.6px; 
    /* 120% */ 
    text-transform: capitalize; 
} 
 
.button:hover { 
    background: #E3E1D9; 
}

.last-block { 
    width: 100%;
    padding: 40px 0px; 
    background: #A6AEBF; 
    border-radius: 10px; 
} 
 
.stars { 
    text-align: center; 
} 
 
.cart{  
    position: fixed;  
    background-color: #F2EFE5; 
    color: #212121;  
    font-size: 35px;  
    padding: 5px;  
    border-radius: 4px; 
}  
  
.cartAmount{  
    position: absolute;  
    top: -15px;  
    right: 0px;  
    font-size: 19px;  
    background-color: red;  
    color: white;  
    font-size: 16px;  
    padding: 3px;  
    border-radius: 3px;  
} 

.container-cards { 
    display: flex; 
    gap: 20px;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap;  
} 
 
.last-block { 
    display: flex; 
    width: 100%; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center ; 
    padding: 43px 0px; 
    background: #E9EFEC; 
    border-radius: 16px; 
} 